* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a:hover{
    text-decoration: underline;
  }
  #nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid orange;
  }
  #nav > div > img {
    width: 185px;
    margin-left: 70px;
  }
  #nav > div:last-child {
    margin-right: 60px;
    /* border:1px solid red; */
  }
  .fa-solid {
    font-size: 20px;
    margin-left: 10px;
    padding: 0px 10px;
    color: orange;
  }
  #last {
    display: flex;
    font-size: 12px;
  }
  #main {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    padding:20px;
  }
  #main > div {
    width: 48%;
    margin-top: 20px;
    color: #455a64;
  }
  label {
    font-size: 11px;
    font-weight: 700;
  }

  

  #left > h3 {
    margin-bottom: 8px;
    color: #455a64;
  }
  #left > div {
    margin-left: 5px;
  }
  #left > div > p + p {
    margin-top: 6px;
    margin-bottom: 15px;
  }
  input[type="text"] {
    margin-top: 4px;
    width: 100%;
    padding: 2px 0px 2px 4px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 0.5px solid #000;
    height: 40px;
    text-align: left;
    font-family: Roboto, sans-serif;
  }
  .delivery {
    margin-top: 30px;
    color: #455a64;
  }
  .delivery + div {
    margin-bottom: 15px;
  }

  .flexkro {
    display: flex;
    justify-content: space-between;
  }
  .flexkro > div {
    /* border:1px solid red; */
    width: 49%;
    margin-bottom:20px;
  }
  select {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    margin-top: 4px;
    outline: 0;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 4px;
    font-family: sans-serif;
    color: #455a64;
  }
  #payment {
    display: flex;
    justify-content: space-between;
  }
  #payment > div {
    width: 12%;
    /* border:1px solid red; */
  }
  #payment > div > img {
    width: 100%;
    height: 70px;
    /* border:1px solid red; */
    border-radius: 30%;
  }
  #payment > div > h4 {
    text-align: center;
  }
  button {
    width: 80%;
    background-color: orange;
    padding: 10px;
    font-size: 16px;
    color: white;
    display: block;
    margin: auto;
    border: none;
  }
  #cart_checkout .trrowprod td {
    padding: 10px;
  }
  table {
    border-spacing: 10px;
    background-color: transparent;
  }
  .shipdate {
    color: #f7941d;
  }
  .trrowprod {
    background-color: #d9d8d8;
  }
  .itemcontent {
    padding: 100px;
  }
  .itemcontent > p {
    margin: 0 0 5px 0;
    color: #455a64;
  }
  .prodextras > p {
    display: flex;
    justify-content: space-between;
  }
  .fa-indian-rupee-sign {
    color: black;
    font-size: 16px;
    margin-right: 0;
  }
  a {
    text-decoration: none;
    margin-left: 10px;
  }
  .hrline {
    height: 0.5px;
    width: 100%;
    margin: 10px 0;
    background-color: black;
    box-sizing: border-box;
  }
  .row {
    margin-left: 10px;
  }
  .simplepay {
    margin-left: 10px;
    margin-top: 20px;
  }
  .simplepayicon {
    background-image: url(https://d64lkarmo2mrq.cloudfront.net/icons/89165818.png);
    background-size: 40px 14px;
    display: inline-block;
    width: 40px;
    height: 14px;
  }
  .small {
    margin-left: 10px;
    margin-top: 30px;
  }
  h6 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 12px;
  }
  #btns_form {
    width:320px;
    height:40px;
    display: flex;
    margin: 30px 10px;
    align-items: center;
    
  
  }
  #inputfield{
    width:200px;
    padding-left: 7px;
    border-radius: 0;
    border-right:0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  #applyCoupon{
    width:120px;
    height:40px;
    background-color: #f98d29;
    border: none;
    margin-top:-6px;
    text-align: center;
    color:white;
  }
  .wrap_banner img{
    display: block;
    margin:auto;
    width:100px;
  }
  .orangebar{
    height:3px;
    width:40px;
    margin:25px auto;
    background-color: #f98d29;
  }