
*{
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}
#heading{
    /* border: 1px solid red; */
    width: 99%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
}
#heading>div:last-child{
    /* border: 1px solid blue; */
    height: 100%;
    width: 35%;
    display: flex;
}
#heading>div:first-child{
    /* border: 1px solid blue; */
    height: 100%;
    width: 20%;
}
#heading>div:first-child>a>img{
    width: 70%;
    height: 70%;
    padding-top: 15px;
    padding-left: 10px;
}
#heading>div:last-child>div{
    /* border: 1px solid black; */
    height: 100%;
    width: 80%;
    text-align: center;
}
#heading>div:last-child>div:last-child{
    width: 15%;
}
#heading>div:last-child>div:first-child{
    font-size: 13px;
    padding-top: 20px;
}

#cartimage>a>img{
    width: 60%;
    height: 40%;
    padding-top: 15px;
    padding-right: 20px;
}
#links>a{
text-decoration: none;
color: black;
}
#heading2{
    width: 20%;
    display: flex;
    justify-content: space-around;
    color: rgb(69,90,100);
}
#heading2>button>a{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
}
#heading2>button{
    background-color: black;
    border-radius: 5px;

}
#signup{
    display: flex;
    flex-direction: column;
}
#signup>div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#signup>div:first-child{
font-size: 13px;
margin-bottom: 10px;
padding-top: 10px;
}
#signup>div:first-child>a{
text-decoration: none;
color: rgb(71,71,71);
}
#signup>div:nth-child(2){
font-weight: bold;
color:rgb(71,71,71);
font-size: 15px;
}



#cartImage>img{
    width: 100%;
    height: 100%;
}

#line{
    border: 1px solid rgb(247,148,29);

}

button>img{
    height:100%;
}
#container{
    /* border: 1px solid grey; */
    /* width: 100%; */
    /* height: 500px; */
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    padding-bottom: 130px;

}
#container>div:first-child>h3{
    color: rgb(247,148,29);
    margin-left: 10px;
}
#container>div:first-child{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#container>div:last-child{
    border: 1px solid grey;
    width: 30%;
    height: 280px;
    margin-right: 50px;
    margin-top: 15px;
}


#container>div:first-child>form{
    /* border: 1px solid red; */
    /* height: 400px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#container>div:first-child>div{
    /* display: flex; */
}
#button{
display: flex;
justify-content: space-between;
width: 40%;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
}
#button>button:first-child{
background-color: rgb(75,104,185);;
color: white;
width: 46%;
padding-top: 5px;
padding-bottom: 5px;
border-color: transparent;
}
#button>button:last-child{
background-color: rgb(66,133,244);
color: white;
width: 46%;
padding-top: 5px;
padding-bottom: 5px;
border-color: transparent;

}

input,
select {
display: block;
margin: 15px 0px;
font-size: 15px;
padding: 2%;
}
form {
width: 400px;
/* border: 1px solid rgb(230, 230, 230); */
/* margin: 3%; */
padding: 1%;
background: white;
}
form>button{
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(247,148,29);
    color: white;
    margin-bottom: 20px;
    border: none;
}
p{
text-align: center;
}
#cart{
/* border: 1px solid black; */
width: 100%;
height: 10%;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
font-size: 20px;
font-weight: bold;
color: rgb(69,90,100);

}
#cart+div{
border: 1px solid grey;
padding-left: 20px;
height: 60px;
padding-top: 15px;
border-left: none;
border-right: none;
border-bottom: inset;
color: rgb(69,90,100);

}
#cart+div+div{
/* border: 1px solid grey; */
padding-left: 20px;
/* height: 60px; */
padding-top: 15px;
padding-bottom: 30px;
color: rgb(69,90,100);

}
#cart+div+div>button{
margin: auto;
width: 90%;
height: 40px;
justify-content: center;
align-items: center;
margin-top: 30px;
margin-right: 30px;
border-color: rgb(247,148,29);
color: rgb(247,148,29);
background-color: transparent;
border-width: 1px;
}

#belowcart{
/* border: 1px solid black; */
width: 60%;
height: 75%;
margin: auto;
margin-top: 20px;
}
#belowcart>div:first-child{
/* border: 1px solid red; */
height: 50%;

}
#belowcart>div:first-child>img{
width: 50%;
height: 100%;
padding-left: 50px;
}
#belowcart>div:last-child{
margin-top:10px;
}
#belowcart>div:last-child>h2{
text-align: center;
color: rgb(69,90,100);

}
#belowcart>div:last-child>h5{
text-align: center;
color: rgb(69,90,100);

}
#line{
border: 1px solid rgb(247,148,29);
width: 100%;
margin-top: 20px;
/* margin-left:70px ; */
margin-right: 70px;
}



/* ------about section----- */
#box{
    display: flex;
   
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  
}
.card{
    width:19.5%;
}
.card>p{
   line-height: 20px;
   cursor: pointer;
   text-align: left;
   
}
.card>h4{
    text-align: left;
}
.card>p:hover{
 text-decoration: underline;
 }
#img{

width: 100%;
display:flex;
margin-top: 40px;
justify-content: space-between;
}
#connect{
    margin-top: 20px;
    display:flex
}
body>p{
    color:#969696;

}
p{
    color:rgb(113, 110, 110);
    margin-top:5px;
    font-size: 14px;
}
h4{
    color:#f29f10
}
#subscribe{
    background-color: #f29f10;
    color: white;
    height: 30px;
    width:120px;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;

}
#about-section-email{
    border-width: 0px;
    border-radius: 5px;
}
img{
    width:50px;
    height:25px
}
#a{
    height:30px;
    width:60px
    
}