*{
    margin: 0px;
    padding: 0px;
}

#hover ,#subcategories>p{
  cursor: pointer;
}
#nav{
    width:100%;
    height:110px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#upper{
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#upper>div:first-child{
display: flex;
align-items: center;
height: 100%;
margin-left: 25px;
}
#upper>div:first-child>input{
height: 25px;
width: 300px;
margin-left: 20px;
/* margin-left: -100px; */
}
#upper>div:first-child>a>img{
height: 90%;

}
#upper>div:first-child>a{
height: 100%;
}
#upper>div:last-child{
display: flex;
}
#upper>div:last-child>div>div:first-child{
display: flex;
font-size: 14px;
justify-content:right;
}
#upper>div:last-child>div>div:last-child{
font-weight: 600;
justify-content:right;
}
#upper>div:last-child>div{
margin-right: 20px;
}
#upper>div:last-child>div:last-child>a>img{
width: 35px;
margin-right: 10px;
}
#lower{
font-size: 12px;
display: flex;
margin-top: 16px;
gap:27px;
margin-left: 110px;
}
#lower>p ,a:hover{
color: #f29f10;
}
#lower>select{
border: none;
font-weight: 700;
}

#trandingbox{
    display: flex;
    justify-content: space-around;
    background-color: white;
  margin-top: 25px;
}
#products{
    display: flex;
    justify-content: space-around;
    width: 70%;
  
margin-top: 25px;
display: grid;
    grid-template-columns: repeat(3,295px);
    grid-template-rows: auto;
    gap: 30px 20px;
   


}
#subcategories>p{
color: rgb(143, 144, 145);
background-color: white;
font-style: normal;
font-size: 14px;
margin-bottom: 25px;

}
#subcategories>p:hover{
text-decoration: underline;
}
#subcategories{
    border-right: 0.1px  solid rgb(230, 232, 233);
   width:15%;
}
#subcategories>p:first-child{
color: black;
font-size: 21px;
padding-top: 25px;
}

   
#products>div>img{
    width:100%;
}

#prceandoffer{
 display: flex;
 justify-content: center;

 justify-content: space-between;
margin-top: 44px;
text-align: center;
margin-bottom: 5px;
font-weight: 600;
}

#nameandrating>p+p{
  color: white;
  background-color: rgb(3, 186, 3);
  width: 19%;
  padding: 2px 4px;
  height: 20px;
  border-radius: 5px;
  font-size:11px;
 margin-top: 5px;
  text-align: center;
  float: right;
 
}
#prceandoffer>p+p{
  color:rgb(48, 180, 48) ;
  font-size: 13px;
  font-weight: 500;
}
#prceandoffer>p{
  color: orange;
  font-size: 20px;
}
#nameandrating>p{
 color: rgb(121, 121, 121);
margin-top: 3px;

}
a{
  text-decoration: none;
 
color: black;
}
/* <!-- about section details follws --> */

#box{
  margin: 30px 10px 30px 10px;

    display: flex;
   padding-bottom: 10px;
    background-color: #f2f2f2;
  padding: 10px;
}
.card{
    width:19.5%;
}
.card>p{
   line-height: 8px;
   cursor: pointer;
   
}
.card>p:hover{
text-decoration: underline;
}
#det{
    width:22%
}
#img1{

    width: 100%;
    display:flex;
    margin-top: 40px;
    justify-content: space-between;
}
#connect{
    margin-top: 20px;
    display:flex
    }
   
 #box p{
      
        margin-top:5px;
        font-size: 15px;
      margin-bottom: 15px;
      color:rgb(113, 110, 110);
    }
  h4{
        color:#f29f10;
        margin-bottom: 10px;
    }
     button{
        background-color: #f29f10;
        color: white;
        height: 30px;
        width:120px;
        border-width: 0px;
        border-radius: 5px;
        cursor: pointer;

    }
#input{
        border-width: 0px;
        border-radius: 5px;
        padding-left: 10px;
    }
  .img{
    width:50px;
    height:20px
}
#a{
    height:30px;
    width:60px
    
}
